.next-day-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--gray-200);
}

.next-day-item h2,
h3,
p,
span {
  font-size: 0.87rem;
  font-weight: 700;
  text-align: center;
}

.next-day-item h2::first-letter,
h3::first-letter {
  text-transform: uppercase;
}

.next-day-item img {
  width: 5.25rem;
  height: 5.25rem;
}

.next-day-item span {
  color: var(--gray-400);
  margin-left: 8px;
}