.select {
  width: 100%;
  position: relative;
}

.select-list {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 8px;
  position: absolute;
}

.select-list button {
  width: 100%;
  border: none;
  background-color: var(--gray-500);
  cursor: pointer;
}

.select-list button:hover {
  background-color: var(--gray-600);
}

.select-list button:not(:last-child) {
  border-bottom: 1px solid var(--gray-600);
}

.select-list button p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-100);
  padding: 16px 20px;
  text-align: left;
}