.logo {
  width: 56px;
  height: 56px;
  background-color: var(--gray-600);
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
}